<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">&copy; 2025 Rezervační systém | Projekt byl vytvořen za účelem 
            bakalářské práce | Kontakt: syrismi1@uhk.cz</p>
    </div>
</footer>
